
@{
    ViewData["Title"] = "Project";
}
<div class="bg-dark" style="height: 72px;"></div>
<section class="page-section" id="about">
<div class="container">
    <h1>Project</h1>
    
    <p>
        Project Link <a href="https://github.com/KaushikVaka/DIS-Assignment2" target="_blank"> Github Link</a>
    </p>
    <br/>
    <h2>Development tools</h2>
    <ul>
        <li>Echart </li>
        <li>Asp.net MVC </li>
        <li>Bootstrap 5 </li>
    </ul>
    <hr/>
    
    <img src="/images/Diagram.png" class="img-fluid"/>
</div>
</section>

